@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Oswald:wght@700&family=Special+Gothic+Expanded+One&display=swap');
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #696969, #000000, #ffffff);
    font-family: sans-serif;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.logo {
    color: midnightblue;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: midnightblue;
    text-decoration: none;
    font-size: 1.2rem;
    transition: opacity 0.5s;
}

.nav-links a:hover {
    opacity: 0.7;
}


.content-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.glass-content {
    width: 95%; 
    max-width: 1400px;
    padding: 60px;

    background: rgba(25, 25, 112, 0.5); 
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;

    color: white;
    min-height: 70vh;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.glass-content h1 {
    margin-top: 140px;
    font-size: 5rem;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 2px;
}

.glass-content p {
    font-size: 2rem;
    line-height: 1.4;
}